html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
	
	
}

img{
	max-width: 100%;
	padding: 0;
	margin: 0;

}

body{
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	background-color: whitesmoke;

}

a{
	color: limegreen;
}

h2{
	color: seagreen;
	font-size: 3rem;
	font-style: 'Playfair Display';
	padding: 0 2rem;
	border-left: 1rem solid seagreen;
	width: 100%;
}

h3{
	color: seagreen;
	font-size: 2rem;
	font-style: 'Playfair Display';
	padding: 0 2rem;
	margin: 0;
}
/*------------------- HEADER BEGINS---------------------------------*/


header{
	background-color: rebeccapurple;
	display: inline-block;
	width: 100%;
	overflow: hidden;

}

.logo{
	max-width: 25%;
	padding: 1rem;
	float: left;
}

h1{
	color: white;
	font-size: 1rem;
	padding: 1rem;
	float: left;
	font-size: 1rem;
}

/* NAV */

nav{
	width: 100%;
}

nav ol{
	margin: 0;
	padding: 0;
}

nav ol li{
	
	float: right;
	display: inline-block;
	max-width: 20%;
	text-align: left;
	font-size: 1rem;
	font-weight: 300;
	border-left: .2em solid rebeccapurple;
	border-right: .2em solid rebeccapurple;
	padding: 2rem .5rem .5rem .5rem;
	color: rebeccapurple;
	margin-right: 1rem;
	font-weight: 700;

}


nav ol li a{
	width: 25%;
	height: 100%;
	text-decoration: none;


}

/*BANNER*/

.banner{
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
    background-size: cover;
	padding: 15rem 1rem 1rem 1rem;
	margin: 0;
	border-top: 2rem solid rebeccapurple;
	border-bottom: 2rem solid seagreen;

}

p{
	color: white;
}

strong{
	font-weight: 900;
	font-style: italic;
	font-size: 3em;
	color: white;
}

/*----------------------- SEVEN WONDERS BEGINS ---------------------------- */

#seven-wonders {
	padding: 1rem;
	background-color: alicewhite;

}

#seven-wonders ol{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#seven-wonders li{
	padding: 1rem;
	margin-bottom: 1rem;
}

figure img{
	border: 3px solid seagreen;
}

figure{
		padding: 0;
		margin: 0;
		border: 3px solid seagreen;
}

dl{
	padding: 1rem;
	list-style-type: none;
}

dt{
	margin: 0;
	display: inline-block;
}

dd{
	margin-left: 1rem;
	display: inline-block;
	
}

#seven-wonders div{
	background-color: seagreen;
	padding: .5rem 1rem;
	text-align: center;
	margin-bottom: 1rem;
}

#seven-wonders div a{
	text-decoration: none;
}

#seven-wonders div p{
	width: 100%;
	height: 100%;
	color: white;
	text-decoration: none;
	margin: 0;
	font-size: 2em;
}


/*----------------------- SEVEN WONDERS ENDS ---------------------------- */




/*----------------------- BUY TICKETS BEGINS ---------------------------- */

#buy-tickets{
	background-color: powderblue;
	border-top: 3rem solid rebeccapurple;
	border-bottom: 3rem solid rebeccapurple;
	padding: 1rem;
}

#buy-tickets strong{
	display: block;
}

#buy-tickets h2{
	color: rebeccapurple;
	border-left: 1rem solid rebeccapurple;
}

#buy-tickets h3{
	color: rebeccapurple;
	border-left: 3px solid rebeccapurple;
}

#buy-tickets p{
	color: rebeccapurple;
}

#buy-tickets a p{
	background-color: rebeccapurple;
	width: 40%;
	display: inline-block;
	padding: 1rem;
	margin: 1rem;
	color: white;
	text-align: center;

}
/*----------------------- BUY TICKETS ENDS ---------------------------- */


/*----------------------- NOW PLAYING ENDS ---------------------------- */
	
#now-playing{
	border-top: 3rem solid seagreen;
	border-bottom: 3rem solid seagreen;
	background-color: smokewhite;
	overflow: hidden;
	position: relative;
}

#now-playing img{
	border: 5px solid seagreen;
	margin-bottom: 1rem;
}

.atlantis-text{
	text-align: center;
	color: white;
	position: absolute;
	top: 15rem;
	left: 10%;	
	right: 10%;
}



#now-playing i{
	font-size: 4rem;
}


#now-playing h3{
	color: white;
	text-shadow: 2px 2px 6px #555;
	line-height: 2rem;
}

#now-playing i{
	font-size: 4rem;
}

.button{
	background-color: seagreen;
	padding: .5rem 1rem;
	text-align: center;
	margin-bottom: 1rem;
	width: 40%;
	margin-right: auto;
	margin-left: auto;
}

#now-playing a{
	text-decoration: none;
}


/*----------------------- NOW PLAYING ENDS ---------------------------- */


/*------------------------- FOOTER BEGINS -------------------------------  */

footer{
	background-color: rebeccapurple;
}

footer nav ul{
	list-style-type: none;
	padding: 0;
}

footer nav ul li{
	font-size: .5rem;
}

/* FOOTER ENDS  */


